* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #252525; /* Light green background */
    color: #333; /* Dark text color for contrast */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Full viewport height */
}

.container {
    text-align: center;
    background-color: #d4edda; /* Slightly darker green for the container */
    padding: 20px;
    border-radius: 20px;
    
    box-shadow: 0 4px 20px rgba(224, 36, 36, 0.493);
}

h1 {
    font-size: 2.5em;
    color: #28a745; /* Bootstrap success color */
}

p {
    font-size: 1.2em;
    color: #6c757d; /* Muted text color */
}
